@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Sec{
    display: flex;
    justify-content: space-between;
    background: #F7F5F9;
    /* height: 100vh; */
    padding: 3rem;
}
.Sec h1{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.hobby{
    color: #0096C8;
   
}
.passion{
    color: #8064A2;
}
.para{
    font-family: "Poppins";
    font-weight: 300;
    line-height: 30px;
}
.para_1{
    font-family: "Poppins";
    font-weight: 300;
    line-height: 30px;
}
.sign{
    font-family: "Poppins";
    font-weight: 600;
    line-height: 30px;
    color:  #8064A2;
    text-decoration: underline;
}
.right img{
  margin-right: 1rem;
}
.right{
    display: flex;
    flex-direction: column;
}
.right p{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #08090A;
    border: 2px solid #8064A2;
    padding: 5px;
    margin-top: 1rem;
    width: 20rem;
}
.Sec input{
    border-radius: 8px;
    border: 1px solid  #FFFFFF;
    width: 20rem;
    height: 2.5rem;
    margin-top: 1.5rem;
}
.Sec b{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    color: #08090A;
}
.right button{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    background-color: #8064A2;
    color: white;
    border: none;
    width: 20rem;
    height: 2rem;
    border-radius: 8px;
    padding: 0.3rem;
}

@media screen and (max-width:768px) {
    .Sec{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
    }
    .Sec p{
        display: flex;
        flex-direction: column;
    }
    .left .para_1{
        display: none;
    }  
    .para{
        display: flex;
        flex-direction: column;
    }
   
    .right{
        margin-left: 5rem;
        margin-top: 2rem;
    }

}